/* 
	The SCETA website incorporates Responsive Grid System provided by 
	www.responsivegridsystem.com. This was implemented by Byron Phung during 
	a massive re-design from scratch starting 09/15/2014 and ending 09/22/2014.
	Any questions about this website can be directed to byronphung@gmail.com.
*/

/* ===== Font Imports ===== */

@import url(http://fonts.googleapis.com/css?family=Roboto);

/* ===== Basic Page Setup ===== */

body { 
	font: 100%/1.4 'Roboto', 'lucida sans unicode', 'lucida grande', 'Trebuchet MS', verdana, arial, helvetica, helve, sans-serif; 	
	font-size: 16px;
	color: #444444;
	background-color: #fff;
}

button, 
input, 
select, 
textarea { 
	font-family: 'Roboto', 'lucida sans unicode', 'lucida grande', 'Trebuchet MS', verdana, arial, helvetica, helve, sans-serif; 
	color: #444444;
}

/* ===== Headings ===== */

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
	font-family: 'Roboto', MuseoSlab300, 'lucida sans unicode', 'lucida grande', 'Trebuchet MS', verdana, arial, helvetica, helve, sans-serif;
	font-weight: normal;
	letter-spacing: -1px;
}

h1 {
	color: #fff;
	font-size: 48px;
	font-weight: bold;
	margin: 0 16px;
}

h2 { 
	font-size: 24px;
	font-weight: bold;
	letter-spacing: 1.5px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 18px;
	margin-left: 16px;
}

/* ===== Typography ===== */

div.center {
	text-align: center;
}

@media only screen and (max-width: 480px) {
	div.center {
		text-align: left;
	}
}

li ul, 
li ol { 
	margin: 0;
	font-size: 1em; /* 16 / 16 = 1 */
}

dl, 
dd { 
	margin-bottom: 1.5em;
}

dt { 
	font-weight: normal;
}

b, 
strong { 
	font-weight: bold;
}

hr { 
	display: block; 
	margin: 1em 0; 
	padding: 0;
	height: 1px; 
	border: 0; 
	border-top: 1px solid #ccc;
}

small { 
	font-size: 1em; /* 16 / 16 = 1 */
}

sub, 
sup { 
	font-size: 75%; 
	line-height: 0; 
	position: relative; 
	vertical-align: baseline;
}

sup { 
	top: -.5em;
}

sub { 
	bottom: -.25em;
}

.subtext {
	color: #666;
}

/* ===== Links ===== */

a { 
	color: #0051d7;
	text-decoration: none;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

	a:hover, 
	a:active {
		color: #388e3c;
		text-decoration: none;
	}

/* ===== Images ===== */

img {
	border: 0;
	max-width: 100%;
	height: auto;
	width: auto\9; /* IE8 */
}

/* ===== Tables ===== */

table { 
	border-collapse: collapse;
	border-spacing: 0;
	margin-bottom: 1.4em; 
	width: 100%;
}

th, 
td, 
caption { 
	padding: .25em 10px .25em 5px;
}

tfoot { 
	font-style: italic; 
}

caption { 
	background-color: transparent;
}

/* ===== Forms ===== */

form { 
	margin: 0;
}

fieldset { 
	margin-bottom: 1.5em; 
	padding: 0; 
	border-width: 0;
	min-width: 100%;
}

	fieldset .col {
		margin: 0 0 0 1.6%;
	}

@media only screen and (max-width: 800px) {
	fieldset .col {
		margin: 0 0 16px 0;
	}

		fieldset .col:last-child {
			margin: 0;
		}

	fieldset .span_1_of_2 {
		width: 100%;
	}
}

legend { 
	*margin-left: -7px; 
	padding: 0; 
	border-width: 0;
}

label {
	font-weight: normal;
	cursor: pointer;
	display: block;
	margin: 0;
	position: relative;
	top: 0;
	left: 0;
}

	label.inline {
		display: inline;
		margin: 0;
	}
	
	label span {
		color: #666;
		font-size: 0.9em;
	}
	
		label span.right {
			position: absolute;
			bottom: 0;
			right: 1em;
			text-align: right;
		}
	
	label.disabled {
		color: #ccc;
	}

button, 
search, 
input, 
select, 
textarea { 
	font-size: 100%; 
	margin: 0; 
	vertical-align: baseline; 
	*vertical-align: middle;
}

textarea {
	width: 100%;
}

@media only screen and (max-width: 600px) {
	select {
		width: 100%;
	}
}

button, 
input { 
	line-height: normal; 
	*overflow: visible;
}

button, 
input[type="button"],
input[type="reset"], 
input[type="submit"] { 
	padding: 0.5em 1em;
	margin: 8px 0 0 0;
	cursor: pointer;
	color: #fff;
	border: none;
	border-radius: 3px;
	background-color: #388e3c;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.7);
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;	
}

input[type="submit"]:hover,
input[type="reset"]:hover {
	background-color: #1b5e20;
	-webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.7);
	-moz-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.7);
	-o-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.7);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.7);
}

input[type="checkbox"],
input[type="radio"] { 
	box-sizing: border-box;
}

input[type="search"] { 
	box-sizing: content-box;
}

button::-moz-focus-inner, 
input::-moz-focus-inner { 
	padding: 0;
	border: 0; 
}

input {
	font-size: 1em;
	padding: 5px;
	border: 1px solid #d9d9d9;
	-webkit-box-sizing : border-box;‌​
    -moz-box-sizing : border-box;
    -o-box-sizing: border-box;
    box-sizing : border-box;
}

	input.full {
		width: 100%;
	}

	input::-webkit-input-placeholder,
	input:-moz-placeholder,
	.placeholder {
		color: #bbb;
	}
	
	input::-moz-focus-inner {
		border: 0;
	}

	input[disabled="disabled"], 
	input.disabled {
		color: #999;
		background: #f5f5f5;
		-webkit-box-shadow: inset 0px 1px 2px #ddd;
		-moz-box-shadow: inset 0px 1px 2px #ddd;
		-o-box-shadow: inset 0px 1px 2px #ddd;
		box-shadow: inset 0px 1px 2px #ddd;
	}

@media only screen and (max-width: 480px) {
	input[type="file"] {
		width: 100%;
	}
}

/* Colors for Form Validity */

input:valid, 
textarea:valid {  
}

/* Styles */

input:invalid, 
textarea:invalid {
	-webkit-box-shadow: 0 0 2px #f00; 
	-moz-box-shadow: 0 0 2px #f00;
	-o-box-shadow: 0 0 2px #f00;
	box-shadow: 0 0 2px #f00;
}

.no-boxshadow input:invalid, 
.no-boxshadow textarea:invalid {
	background-color: #ccc;
}

/* ===== Main Layout ===== */

/* Inline Lists */

.content ul.center {
	margin: 0;
	text-align: left;
}

ul.inline li {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	list-style: none;
	margin-right: 16px;
}

@media only screen and (max-width: 800px) {
	.content ul.center {
		text-align: center;
	}
}

/* Full Screen Loading Animation */

.no-js #loader { 
	display: none;  
}

.js #loader { 
	display: block; 
	position: absolute; 
	left: 100px; 
	top: 0; 
}

.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../img/ic_loading_01.gif) center no-repeat #fff;
}

/* Back to Top */

.cd-top {
	display: inline-block;
	height: 40px;
	width: 40px;
	position: fixed;
	bottom: 40px;
	right: 10px;
	-webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.7);
	-moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.7);
	-o-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.7);
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.7);
	border-radius: 30px;

	/* Image Replacement Properties */

	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	background: rgba(51, 153, 51, 0.8) url(../img/ic_top-arrow.png) no-repeat center 50%;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: 
		opacity .3s 0s, 
		visibility 0s .3s, 
		box-shadow .5s ease, 
		background-color .5s ease;
	-moz-transition: 
		opacity .3s 0s, 
		visibility 0s .3s, 
		box-shadow .5s ease, 
		background-color .5s ease;
	-o-transition:
		opacity .3s 0s, 
		visibility 0s .3s, 
		box-shadow .5s ease, 
		background-color .5s ease;
	transition: 
		opacity .3s 0s, 
		visibility 0s .3s, 
		box-shadow .5s ease, 
		background-color .5s ease;
}

.cd-top.cd-is-visible, 
.cd-top.cd-fade-out, 
.no-touch .cd-top:hover {
	-webkit-transition: 
		opacity .3s 0s, 
		visibility 0s 0s, 
		box-shadow .3s ease, 
		background-color .5s ease;
	-moz-transition: 
		opacity .3s 0s, 
		visibility 0s 0s, 
		box-shadow .3s ease, 
		background-color .5s ease;
	-o-transition:
		opacity .3s 0s, 
		visibility 0s 0s, 
		box-shadow .3s ease, 
		background-color .5s ease;
	transition: 
		opacity .3s 0s, 
		visibility 0s 0s, 
		box-shadow .3s ease, 
		background-color .5s ease;
}

/*
 * The button becomes visible.
 */
.cd-top.cd-is-visible {
	visibility: visible;
	opacity: 1;
}

.no-touch .cd-top:hover {
	-webkit-box-shadow: 0 6px 7px rgba(0, 0, 0, 0.7);
	-moz-box-shadow: 0 6px 7px rgba(0, 0, 0, 0.7);
	-o-box-shadow: 0 6px 7px rgba(0, 0, 0, 0.7);
	box-shadow: 0 6px 7px rgba(0, 0, 0, 0.7);
	background-color: #2e7d32;
}

@media only screen and (min-width: 768px) {
	.cd-top {
		right: 20px;
		bottom: 20px;
	}
}
@media only screen and (min-width: 1024px) {
	.cd-top {
		height: 60px;
		width: 60px;
		right: 30px;
		bottom: 30px;
	}
}

/* SCETA Name & Menu Button */

#namecontainer {
	width: 100%;
	position: fixed;
	background-color: transparent;
	top: 0;
	z-index: 9999;
	font-size: 64px;
	display: table;
}

	#namecontainer div {
		display: table-cell;
		vertical-align: middle;
	}

	#namecontent img {
		margin-top: 16px;
		margin-left: 16px;
	}

	#showRightPush {
		text-align: right;
	}

		#showRightPush a {
			margin-right: 16px;
			color: #fff;
		}

			#showRightPush a:hover {
				color: #388e3c;
			}

@media only screen and (max-width: 600px) {
	#namecontainer {
		font-size: 48px;
	}
}

/* Headroom: Hide content when scrolling and show when needed. */

.headroom {
    transition: transform 200ms linear;
}

.headroom--pinned {
    transform: translateY(0%);
}

.headroom--unpinned {
    transform: translateY(-100%);
}

/* Push Menu */

.cbp-spmenu {
	background: #fff;
	position: fixed;
	overflow: scroll;
}

	.cbp-spmenu a {
		display: block;
		color: #444444;
		font-size: 1.1em;
		font-weight: 300;
	}

		.cbp-spmenu a:hover {
			background: #388e3c;
			color: #fff;
		}

		.cbp-spmenu a:active,
		.cbp-spmenu a:selected {
			background: #388e3c;
			color: #fff;
		}

.cbp-spmenu-vertical {
	width: 240px;
	height: 100%;
	top: 0;
	z-index: 1000;
}

	.cbp-spmenu-vertical a {
		border-bottom: 1px solid #e0e0e0;
		padding: 1em;
	}

.cbp-spmenu-right {
	right: -240px;
}

	.cbp-spmenu-right.cbp-spmenu-open {
		right: 0px;
	}

.cbp-spmenu-push {
	overflow-x: hidden;
	position: relative;
	left: 0;
}

.cbp-spmenu-push-toleft {
	left: -240px;
}

.cbp-spmenu,
.cbp-spmenu-push {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

@media screen and (max-height: 26.375em){
	.cbp-spmenu-vertical {
		font-size: 90%;
		width: 190px;
	}

	.cbp-spmenu-right {
		right: -190px;
	}

	.cbp-spmenu-push-toleft {
		left: -190px;
	}
}

/* Fade Effect for Pushed Content */

.fade {
	background: #fff;
	opacity: 0.5;
}

/* Fullscreen / Not-Fullscreen Images */

.background {
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-position: 50% 50%\9 !important;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

html, 
body {
	height: 100%;
}

.fullscreen,
.content-a {
	width: 100%;
	min-height: 100%;
}

.not-fullscreen,
.not-fullscreen .content-a,
.fullscreen.not-overflow,
.fullscreen.not-overflow .content-a {
	height: 100%;
	overflow: hidden;
}

.content-a {
	display: table;
}

.content-b {
	display: table-cell;
    position: relative;
	vertical-align: middle;
	text-align: center;
}

.not-fullscreen {
	height: 50%;
}

@media only screen and (max-width: 600px) {
	.not-fullscreen {
		height: 100%;
	}
}

/* Containers */

.container {
	padding: 48px 0;
}

	.container.gray {
		background-color: #f6f6f6;
	}

	.container.red,
	.container.red a,
	.container.blue,
	.container.blue a,
	.container.green,
	.container.green a,
	.container.yellow,
	.container.yellow a,
	.container.pink,
	.container.pink a,
	.container.purple,
	.container.purple a,
	.container.teal,
	.container.teal a,
	.container.brown,
	.container.brown a,
	.container.bluegrey,
	.container.bluegrey a {
		color: #fff;
	}

	.container.red a:hover {
		color: #ffb74d;
	}

	.container.red hr {
		border-color: #e57373;
	}

	.container.red input[type="reset"], 
	.container.red input[type="submit"] { 
		background-color: #d32f2f;
	}

		.container.red input[type="submit"]:hover,
		.container.red input[type="reset"]:hover {
			background-color: #b71c1c;
		}

	.container.blue a:hover {
		color: #ffeb3b;
	}

		.container.blue a.button {
			background-color: #0288d1;
			color: #fff;
		}

			.container.blue a.button:hover {
				background-color: #01579b;
			}

	.container.blue hr {
		border-color: #4fc3f7;
	}

	.container.green a:hover {
		color: #fbc02d;
	}

	.container.green hr {
		border-color: #81c784;
	}

	.container.yellow a:hover {
		color: #2196f3;
	}

	.container.yellow hr {
		border-color: #ffd54f;
	}

	.container.pink a:hover {
		color: #81d4fa;
	}

	.container.pink hr {
		border-color: #f06292;
	}

	.container.purple a:hover {
		color: #ff9800;
	}

	.container.purple hr {
		border-color: #ba68c8;
	}

	.container.teal a:hover {
		color: #ffc107;
	}

	.container.bluegrey a:hover {
		color: #ffeb3b;
	}

		.container.bluegrey a.button {
			background-color: #455a64;
		}

			.container.bluegrey a.button:hover {
				background-color: #263238;
				color: #fff;
			}

	.container.bluegrey hr {
		border-color: #90a4ae;
	}

	.content {
		width: 50%;
		margin: 0 auto;
	}

		.content img {
			max-height: 160px;
			margin-top: 16px;
			margin-bottom: 16px;
		}

		.content ul,
		.content ol {
			margin: 16px 32px;
		}

			.content ul li {
				line-height: 2.0em;
			}

		.content p {
			margin: 16px 0;
			line-height: 2.0em;
		}

			.content p.center {
				text-align: center;
			}

			.content p.caption {
				line-height: 2.0em;
			}

			.content p.secondary {
				color: #757575;
			}

			.content p.intro {
				font-size: 24px;
			}

@media only screen and (max-width: 1024px) {
	.container {
		padding: 48px 16px;
	}
	
		.content {
			width: 100%;
		}

			.content img {
				max-height: 120px;
			}
}

	/* Specific Page: Home */

	#home_info #calendar_link img {
		max-width: 0.875em;
		margin: 0 auto;
	}

	@media only screen and (max-width: 800px) {
		#home_info .span_1_of_2 {
			width: 100%;
		}
	}

	/* Specific Page: Events */

	ul.googleCalendar {
		margin: 0;
		list-style: none;
	}

		ul.googleCalendar ul {
			list-style: none;
			margin: 0;
		}

			ul.googleCalendar ul li {
				display: inline-block;
			}

				ul.googleCalendar ul li img {
					margin: 0;
					margin-right: 6px;
					-webkit-transition: all 0.5s ease;
					-moz-transition: all 0.5s ease;
					-o-transition: all 0.5s ease;
					transition: all 0.5s ease;
				}

					ul.googleCalendar ul li img:hover {
						opacity: 0.6;
					}

	.event0,
	.event1,
	.event2,
	.event3,
	.event4 {
		display: none;
	}

	p.eventsListContent {
		margin-left: -32px;
	}

	/* Specific Page: Resources */

	div.colorful {
		width: 80%;
		margin: 0 auto;
		text-align: center;
	}

		div.colorful .col {
			margin: 0;
		}

		div.colorful div a {
			display: block;
			height: 100%;
			color: #fff;
			font-size: 32px;
			padding: 82px 16px;
		}

			div.colorful div a:hover {
				text-decoration: none;
			}

	div.red {
		background-color: #f44336;
		-webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		transition: all 0.5s ease;
	}

		div.colorful div.red:hover {
			background-color: #d32f2f;
		}

		div.colorful div.red input {
			color: #fff;
		}

	div.blue {
		background-color: #03a9f4;
		-webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		transition: all 0.5s ease;
	}

		div.colorful div.blue:hover {
			background-color: #0288d1;
		}

	div.yellow {
		background-color: #ffc107;
		-webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		transition: all 0.5s ease;
	}

		div.colorful div.yellow:hover {
			background-color: #ffa000;
		}

	div.green {
		background-color: #4caf50;
		-webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		transition: all 0.5s ease;
	}

		div.colorful div.green:hover {
			background-color: #388e3c;
		}

	div.pink {
		background-color: #e91e63;
		-webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		transition: all 0.5s ease;
	}

		div.colorful div.pink:hover {
			background-color: #c2185b;
		}

	div.purple {
		background-color: #9c27b0;
		-webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		transition: all 0.5s ease;
	}

		div.colorful div.purple:hover {
			background-color: #7b1fa2;
		}

	div.teal {
		background-color: #009688;
		-webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		transition: all 0.5s ease;
	}

		div.colorful div.teal:hover {
			background-color: #00796b;
		}

	div.bluegrey {
		background-color: #607d8b;
		-webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		transition: all 0.5s ease;
	}

		div.colorful div.bluegrey:hover {
			background-color: #455a64;
		}

	@media only screen and (max-width: 600px) {
		div.colorful .span_1_of_2 {
			width: 100%;
		}
	}

	#gallery a {
		color: #fff;
	}

		#gallery a:hover {
			color: #ffeb3b;
		}

		#gallery a.button:hover {
			color: #fff;
		}

	ul.gallery_2015,
	ul.gallery_2014,
	ul.gallery_2013,
	ul.gallery_2012,
	ul.gallery_2011,
	ul.gallery_2010,
	ul.gallery_2009,
	ul.gallery_2008,
	ul.gallery_2006,
	ul.gallery_2005 {
		display: none;
	}

	.gallery h2 {
		color: #fff;
	}

	ul.meetings_spring2015,
	ul.meetings_winter2015,
	ul.meetings_fall2014 {
		display: none;
	}

	#powerpoint {
		width: 100%;
		min-height: 560px;
	}

	@media only screen and (max-width: 600px) {
		#powerpoint {
			min-height: 300px;
		}
	}

	/* Specific Page: Services */

	.container#services {
		padding: 0;
	}

		.container#services .col {
			margin: 0;
		}

		.container#services .span_1_of_2 {
			width: 50%;
		}	

		.container#services a {
			color: #fff;
		}

		div.background-selector {
			height: 400px;
			overflow: hidden;
			position: relative;
		}

			div.background-selector > div {
				position: absolute;
				height: 100%;
				width: 100%;
				-webkit-transition: all .5s;
				-moz-transition: all .5s;
				-o-transition: all .5s;
				transition: all .5s;
				-webkit-transform: scale(1, 1);
				-moz-transform: scale(1, 1);
				-o-transform: scale(1, 1);
				transform: scale(1, 1);
				-webkit-background-size: cover;
				-moz-background-size: cover;
				-o-background-size: cover;
				background-size: cover;
				z-index: -1;
			}

				div.background-selector:hover > div {
					-webkit-transform: scale(1.2, 1.2);
					-moz-transform: scale(1.2, 1.2);
					-o-transition: scale(1.2, 1.2);
					transform: scale(1.2, 1.2);
				}

			div.background-selector h1 {
				text-align: center;
				margin: 166.5px 0;
			}

	@media only screen and (max-width: 800px) {
		.container#services .span_1_of_2 {
			width: 100%;
		}

		div.background-selector {
			height: 250px;
		}

			div.background-selector h1 {
				margin: 91.5px 0;
			}
	}		

	/* Specific Page: 3D Printing */

	ul.materials li.green {
		color: green;
	}

	ul.materials li.red {
		color: red;
	}

	/* Specific Page: Parts */

	table.parts,
	table.dollarParts {
		width: 95%;
		border: 4px double #333;
		text-align: center;
		margin: 0 auto;
		margin-bottom: 16px;
	}

		table.parts td,
		table.dollarParts td {
			border: 1px solid #333;
		}

		table.parts td.green,
		table.dollarParts td.green {
			color: green;
		}

			table.parts td.green:after,
			table.dollarParts td.green:after {
				content: 'IN STOCK';
			}

		table.parts td.red,
		table.dollarParts td.red {
			color: red;
		}

			table.parts td.red:after,
			table.dollarParts td.red:after {
				content: 'OUT OF STOCK';
			}

	tr.title {
		font-weight: bold;
	}

	@media only screen and (max-width: 480px) {
		.parts tr td:nth-child(2) {
			display: none;
		}

		.dollarParts tr td:first-child {
			display: none;
		}
	}

	/* Over $1 */

	.parts tr td:nth-child(3):before,
	.parts tr td:nth-child(4):before {
		content: '$';
	}

		.parts tr td:nth-child(3):after,
		.parts tr td:nth-child(4):after {
			content: ".00";
		}

	.parts tr.title td:nth-child(3):before,
	.parts tr.title td:nth-child(3):after {
		content: none;
	}

	.parts tr.title td:nth-child(4):before,
	.parts tr.title td:nth-child(4):after {
		content: none;
	}

	/* Dollar Parts */

	.dollarParts tr td:nth-child(3):before,
	.dollarParts tr td:nth-child(4):before {
		content: "$1.00";
	}

	.dollarParts tr.title td:nth-child(3):before,
	.dollarParts tr.title td:nth-child(4):before,
	.dollarParts tr.title td:nth-child(4):after {
		content: none;
	}

	/* Footer */

	#footer {
		background-color: #1b5e20;
		font-size: 14px;
	}

		#footer span {
			font-size: 64px;
			font-weight: bold;
		}

		#footer hr {
			border-color: #388e3c;
		}

		#footer ul {
			margin: 0 auto;
		}

		#footer #footer_menu .col {
			margin: 0 auto;
		}

		#footer #footer_menu ul {
			list-style: none;
		}

			#footer #footer_menu ul li {
				margin-bottom: 16px;
			}

				#footer #footer_menu ul li a {
					color: #fff;
					font-size: 18px;
					font-weight: bold;
				}

					#footer #footer_menu ul li a:hover {
						color: #fbc02d;
					}

		#footer #footer_follow {
			margin-bottom: -16px;
		}

			#footer #footer_follow ul {
				list-style: none;
				margin: 0 auto;
				padding: 0;
			}

				#footer #footer_follow ul li {
					display: inline;
					padding: 0 0.125em;
				}

			#footer #footer_follow img {
				max-width: 2em;
				-webkit-transition: all 0.5s ease;
				-moz-transition: all 0.5s ease;
				-o-transition: all 0.5s ease;
				transition: all 0.5s ease;
			}

				#footer #footer_follow img:hover {
					opacity: 0.6;
				}

		p.footer_emails {
			margin-top: 16px;
		}

/* ===== Sections ===== */

.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/* ===== Buttons ===== */

.button {
	display: inline-block;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	padding: 10px 30px;
	margin: 16px;
	background-color: #388e3c;	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.7);
	-moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.7);
	-o-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.7);
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.7);
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

	.button:hover {
		color: #fff;
		background-color: #1b5e20;
		-webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.7);
		-moz-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.7);
		-o-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.7);
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.7);
	}

/* ===== Global Objects ===== */

.group:before,
.group:after {
    content: "";
    display: table;
}

	.group:after {
	    clear: both;
	}

	.group {
	    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
	}

/* ===== Vendor-Specific ===== */

html { 
	-webkit-overflow-scrolling: touch; 
	-webkit-tap-highlight-color: rgb(52,158,219); 
	-webkit-text-size-adjust: 100%; 
	-ms-text-size-adjust: 100%; 
}

.clearfix { 
	zoom: 1; 
}

::-webkit-selection { 
	background: rgb(23, 119, 175); 
	color: rgb(250, 250, 250); 
	text-shadow: none; 
}

::-moz-selection { 
	background: rgb(23, 119, 175); 
	color: rgb(250, 250, 250); 
	text-shadow: none; 
}

::selection { 
	background: rgb(23, 119, 175); 
	color: rgb(250, 250, 250); 
	text-shadow: none;
}

button, 
input[type="button"], 
input[type="reset"], 
input[type="submit"] { 
	-webkit-appearance: button;
}

::-webkit-input-placeholder {
	font-size: .875em; 
	line-height: 1.4;
}

input:-moz-placeholder { 
	font-size: .875em; 
	line-height: 1.4;
}

.ie7 img,
.iem7 img { 
	-ms-interpolation-mode: bicubic;
}

input[type="checkbox"], 
input[type="radio"] { 
	box-sizing: border-box;
}

input[type="search"] { 
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
}

button::-moz-focus-inner, 
input::-moz-focus-inner { 
	padding: 0;
	border: 0;
}

p {
	/* http://www.w3.org/TR/css3-text/#hyphenation */
	-webkit-hyphens: auto;
	-webkit-hyphenate-character: "\2010";
	-webkit-hyphenate-limit-after: 1;
	-webkit-hyphenate-limit-before: 3;
	-moz-hyphens: auto;
}